<nav class="navbar">
    <span class="logo">🔴 Pokedex</span>
    <div class="links">
        <a routerLink="/pokemons">Pokemons</a>
        <a routerLink="/registro">Registro</a>
        <a routerLink="/favoritos" class="contador-fav" 
        [class.activo]="favoritos.hayFavoritos()">
            ⭐ Favoritos: {{favoritos.total()}}
        </a>

        <span class="contador-fav" [class.activo]="favoritos.hayFavoritos()">
                ⭐ total seleccionados: {{favoritos.total()}}
        </span>
    </div>
</nav>