<nav class="navbar">
    <span class="logo">🔴 Pokedex</span>
    <div class="links">
        <a routerLink="/pokemons">Pokemons</a>
        <a routerLink="/registro">Registro</a>
        <a *hasRole="'admin'" routerLink="/favoritos">🛠️ Panel Admin</a>
        <a routerLink="/favoritos" class="contador-fav" 
        [class.activo]="favoritos.hayFavoritos()">
            ⭐ Favoritos: {{favoritos.total()}}
        </a>

        <span class="contador-fav" [class.activo]="favoritos.hayFavoritos()">
                ⭐ total seleccionados: {{favoritos.total()}}
        </span>

        <!-- Verificando si el usuario tiene sesion abierta para mostrar el boton de cerrar sesion. -->
        @if (estaAutenticado()) {
            <button type="button" class="btn-logout" (click)="logOut()">
                Cerrar Sesion
            </button>
        }
    </div>
</nav>